<section class=" py-5">
    <p style="font-size: 200%;" class="fw-bolder px-4 text-success text-center">Exclusive Offers For You </p>
    <div class="container px-4 px-lg-5 mt-7 border-dark rounded p-3">
        <div class="row gx-4 gx-lg-5 row-cols-4 row-cols-md-4 row-cols-xl-4 ">
            <!-- exclusive offers -->
            <div class="col mb-5">
                <div class="card h-100 p-7 ">
                    <!-- Product image-->
                    <img style="height: 300px; " class="card-img-top"
                        src="https://i.pinimg.com/564x/e4/16/b2/e416b24fa4b041cc1d3e5c0196a73436.jpg" alt="" />
</div>
</div>
<div class="col mb-5">
    <div class="card h-100 p-7 ">
        <!-- Product image-->
        <img style="height: 300px; " class="card-img-top"
            src="https://i.pinimg.com/564x/e4/16/b2/e416b24fa4b041cc1d3e5c0196a73436.jpg" alt="" />
</div>
</div>


<div class="col mb-5">
    <div class="card h-100 p-7 ">
        <!-- Product image-->
        <img style="height: 300px; " class="card-img-top"
            src="https://i.pinimg.com/564x/e4/16/b2/e416b24fa4b041cc1d3e5c0196a73436.jpg" alt="" />
</div>
</div>


<div class="col mb-5">
    <div class="card h-100 p-7 ">
        <!-- Product image-->
        <img style="height: 300px; " class="card-img-top"
            src="https://i.pinimg.com/564x/e4/16/b2/e416b24fa4b041cc1d3e5c0196a73436.jpg" alt="" />
</div>
</div>


<div class="col mb-5">
    <div class="card h-100 p-7 ">
        <!-- Product image-->
        <img style="height: 300px; " class="card-img-top"
            src="https://i.pinimg.com/564x/e4/16/b2/e416b24fa4b041cc1d3e5c0196a73436.jpg" alt="" />
</div>
</div>


<div class="col mb-5">
    <div class="card h-100 p-7 ">
        <!-- Product image-->
        <img style="height: 300px; " class="card-img-top"
            src="https://i.pinimg.com/564x/e4/16/b2/e416b24fa4b041cc1d3e5c0196a73436.jpg" alt="" />
</div>
</div>


<div class="col mb-5">
    <div class="card h-100 p-7 ">
        <!-- Product image-->
        <img style="height: 300px; " class="card-img-top"
            src="https://i.pinimg.com/564x/e4/16/b2/e416b24fa4b041cc1d3e5c0196a73436.jpg" alt="" />
</div>
</div>


<div class="col mb-5">
    <div class="card h-100 p-7 ">
        <!-- Product image-->
        <img style="height: 300px; " class="card-img-top"
            src="https://i.pinimg.com/564x/e4/16/b2/e416b24fa4b041cc1d3e5c0196a73436.jpg" alt="" />
</div>
</div>



<div class="col mb-5">
    <div class="card h-100 p-7 ">
        <!-- Product image-->
        <img style="height: 300px; " class="card-img-top"
            src="https://i.pinimg.com/564x/e4/16/b2/e416b24fa4b041cc1d3e5c0196a73436.jpg" alt="" />
</div>
</div>



<div class="col mb-5">
    <div class="card h-100 p-7 ">
        <!-- Product image-->
        <img style="height: 300px; " class="card-img-top"
            src="https://i.pinimg.com/564x/e4/16/b2/e416b24fa4b041cc1d3e5c0196a73436.jpg" alt="" />
</div>
</div>



<div class="col mb-5">
    <div class="card h-100 p-7 ">
        <!-- Product image-->
        <img style="height: 300px; " class="card-img-top"
            src="https://i.pinimg.com/564x/e4/16/b2/e416b24fa4b041cc1d3e5c0196a73436.jpg" alt="" />
</div>
</div>



<div class="col mb-5">
    <div class="card h-100 p-7 ">
        <!-- Product image-->
        <img style="height: 300px; " class="card-img-top"
            src="https://i.pinimg.com/564x/e4/16/b2/e416b24fa4b041cc1d3e5c0196a73436.jpg" alt="" />
</div>
</div>



<div class="col mb-5">
    <div class="card h-100 p-7 ">
        <!-- Product image-->
        <img style="height: 300px; " class="card-img-top"
            src="https://i.pinimg.com/564x/e4/16/b2/e416b24fa4b041cc1d3e5c0196a73436.jpg" alt="" />
</div>
</div>



<div class="col mb-5">
    <div class="card h-100 p-7 ">
        <!-- Product image-->
        <img style="height: 300px; " class="card-img-top"
            src="https://i.pinimg.com/564x/e4/16/b2/e416b24fa4b041cc1d3e5c0196a73436.jpg" alt="" />
</div>
</div>




<div class="col mb-5">
    <div class="card h-100 p-7 ">
        <!-- Product image-->
        <img style="height: 300px; " class="card-img-top"
            src="https://i.pinimg.com/564x/e4/16/b2/e416b24fa4b041cc1d3e5c0196a73436.jpg" alt="" />
</div>
</div>



<div class="col mb-5">
    <div class="card h-100 p-7 ">
        <!-- Product image-->
        <img style="height: 300px; " class="card-img-top"
            src="https://i.pinimg.com/564x/e4/16/b2/e416b24fa4b041cc1d3e5c0196a73436.jpg" alt="" />
</div>
</div>


<div class="col mb-5">
    <div class="card h-100 p-7 ">
        <!-- Product image-->
        <img style="height: 300px; " class="card-img-top"
            src="https://i.pinimg.com/564x/e4/16/b2/e416b24fa4b041cc1d3e5c0196a73436.jpg" alt="" />
</div>
</div>



<div class="col mb-5">
    <div class="card h-100 p-7 ">
        <!-- Product image-->
        <img style="height: 300px; " class="card-img-top"
            src="https://i.pinimg.com/564x/e4/16/b2/e416b24fa4b041cc1d3e5c0196a73436.jpg" alt="" />
</div>
</div>



<div class="col mb-5">
    <div class="card h-100 p-7 ">
        <!-- Product image-->
        <img style="height: 300px; " class="card-img-top"
            src="https://i.pinimg.com/564x/e4/16/b2/e416b24fa4b041cc1d3e5c0196a73436.jpg" alt="" />
</div>
</div>



<div class="col mb-5">
    <div class="card h-100 p-7 ">
        <!-- Product image-->
        <img style="height: 300px; " class="card-img-top"
            src="https://i.pinimg.com/564x/e4/16/b2/e416b24fa4b041cc1d3e5c0196a73436.jpg" alt="" />
</div>
</div>


</div>
</div>
</section>